{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}

    <form action="/buy" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Stock Symbol" type="text">
        </div>

        <input class="form-control" autofocus autocomplete="off" name = "shares" type="number"  placeholder = "Number of Shares">


        <button class="btn btn-primary" type="submit">Buy</button>
    </form>

{% endblock %}