{% extends "layout.html" %}


{% block title %}
     History of Transactions
{% endblock %}

{% block main %}
    <table>
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Type of Transaction</th>
                <th>Time of Transaction</th>

            </tr>
        </thead>
        <tbody>
            {% for ledger in history %}
                <tr>
                    <td>{{ ledger.stockSymbol }}</td>
                    <td>{{ ledger.stockName }}</td>
                    <td>{{ ledger.numStocks }}</td>
                    <td>{{ ledger.curStockPrice|round(2) }}</td>
                    <td>{{ ledger.sold }}</td>
                    <td>{{ ledger.date }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
